body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;  
}


    /* COMMON */

    .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;  
    }

    /* HEADER */




.page-header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}


.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .footer-part {
    color: #f4f4fd;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*  HERO */


.page-hero {
    background: #2e2f42;
    
}


.hero-container {  
    height: 600px; 
    flex-direction: column;
}


.hero-tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    height: 120px;
    padding: 188px 0;
    margin: 0 auto;
}




.hero-btn {
    display: block;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    
    
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF
}


/* FEATURE */


.feature-container {
    justify-self: center;
    flex-direction: row;
   
}
.tittle2 {
    display: none;
}

.feature-list {
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}


.feature-tittle,
.our-portfolio-subtittle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.feature-tittle-text,
.our-portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* Our Team */


.page-our-team {
    background: #f4f4fd;
    height: 732px;
}


.our-team-tittle {
    padding-top: 120px;
    margin-bottom: 72px;
}


.our-team-list {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    
    
}


.our-team-item {
    background-color: #fff;
}


.box-team-card {
    align-items: center;
    margin: 32px 16px;
}


.our-team-subtittle {
    margin: 8px;
}



.our-team-tittle,
.our-portfolio-tittle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}

.our-team-subtittle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.our-team-tittle-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

   


/* our-portfolio */


.box-portfolio {
    height: 1000px;
    margin-bottom: 120px;
    margin-top: 120px;
}

.our-portfolio-tittle {
   margin-bottom: 72px;
}


.our-portfolio-subtittle{
    padding-left: 16px;
    padding-top: 32px;
    margin-bottom: 8px;
}


.our-portfolio-text{
    margin-bottom: 32px;
    padding-left: 16px;

}



.portfolio {
    display: flex;
    gap: 24px;
}

.portfolio-card-1sec {
    margin-bottom: 48px;
}




/* FOOTER */

.page-footer {
    background: #2e2f42;
}


.footer-container {
    height: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
        
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}



.footer-tittle-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
        
       
}


/* 
.hero-tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    height: 120px;
    padding: 188px 0;
    margin: 0 auto;
 */
